#upload-img {
  display: none;
}

.layui-header {
  background: #000;
  box-shadow: 0 0 10px #999;
  .logo {
    color: #ddd;
    position: absolute;
    top: 15px;
    font-size: 25px;
  }
}

.float-right {
  float: right;
}

.tools-box {
  margin: 10px 0;
  box-shadow: 0 0 10px #999;
}

.main-content {
  position: relative;
}