#upload-img {
  display: none;
}

.layui-header {
  background: #000;
  box-shadow: 0 0 10px #999;
  .logo {
    color: #ddd;
    position: absolute;
    top: 15px;
    font-size: 25px;
  }

  .version {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 15px;
    color: #ccc;
  }
}

.mg0 {
  margin: 0 !important;
}

.text-center {
  text-align: center !important;
  margin: 0 auto !important;
}

.w100 {
  width: 100%;
}

.float-right {
  float: right;
}

.tools-box {
  margin: 10px 0;
  box-shadow: 0 0 10px #999;
}

.main-content {
  position: relative;
  margin: 0 auto 30px;
  width: 200px;
  min-height: 200px;
  box-shadow: 0 0 3px #ccc;
}

.layui-full-btn {
  width: 100%;
}

h3 {
  margin: 10px 0;
  span {
    border-bottom: 1px solid #ccc;
  }
}

.scale-box button {
  width: 50%;
}

#exports-box {
  margin: 10px auto 20px;
  min-width: 200px;
  max-width: 90%;
  width: 200px;
  min-height: 200px;
  box-shadow: 0 0 3px #ccc;
}