#upload-img {
  display: none;
}

.layui-header {
  background: #000;
  box-shadow: 0 0 10px #999;
  .logo {
    color: #ddd;
    position: absolute;
    top: 15px;
    font-size: 25px;
  }

  .version {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 15px;
    color: #ccc;
  }
}

.mg0 {
  margin: 0 !important;
}

.text-center {
  text-align: center !important;
  margin: 0 auto !important;
}
.text-right {
  text-align: right !important;
}

.float-right {
  float: right;
}

.tools-box {
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  .layui-btn {
    margin: 5px;
  }
}

.main-content {
  position: relative;
  margin: 0 auto 30px;
  width: 200px;
  min-height: 200px;
  box-shadow: 0 0 3px #ccc;
  .split-card {
    .card-name {
      color: #ccc;
    }
  }
}

h3 {
  margin: 10px 0;
  span {
    border-bottom: 1px solid #ccc;
  }
}

#exports-box {
  margin: 10px auto 20px;
  min-width: 200px;
  max-width: 90%;
  min-height: 200px;
  box-shadow: 0 0 3px #ccc;
}

.cont-title {
  font-size: 16px;
  line-height: 26px;
}

.contextMenu {
  .layui-btn+.layui-btn {
    margin-left: 0;
    margin-top: 1px;
  }
}